

/* NAV BAR */

.nav-bar {
    background-color: rgb(31, 13, 63);
    display: flex;
}

.navIcon:hover {
    color: blueviolet;
    cursor: pointer;
    transform: scale(140%);
}

/* .logo {
    width: 150px;
}

.menu {
    display: flex;
}
.menu svg {
    color: aliceblue
}
.menu-li {
    list-style-type: none;
    margin-right: 20px;
}
.menu-li-link {
    text-decoration: none;
    color: aliceblue;
} */

/* Cart Widget */
